body{
    font-family: Arial, sans-serif;
    color: white;
    background: url(../img/88532181_9999520.jpg);
    background-size: cover;
}

.game_contenedor{
    max-width: 1000px;
    background: rgb(225, 255, 255, 0.1 );
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    text-align:center;
    font-size: 70px;
    color: transparent;
    text-transform: uppercase;
    background-image: url(../img/casino.jpg);
    background-position-y: center;
    background-clip: text;
}

.instrucciones{
    background: url(../img/Tarjetas.jpeg);
    background-size: cover;
    background-position-y: center;
    padding: 25px;
    text-align: left;
    font-size: 25px;
    border-radius: 30px;
}

.instrucciones h2{
    color: transparent;
    background-image: url(../img/casino.jpg);
    background-clip: text;
    background-position-y:bottom;
    background-size: cover;
}

.dificultad_botones h3 {
    color: transparent;
    background-image: url(../img/casino.jpg);
    background-clip: text;
    background-position-y:bottom;
    background-size: cover;
    font-size: 35px;
}

.dificultad_btn {
    background: url(../img/with.jpg);
    background-size: cover;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 5px;
    transition: all 0.4s;
}

.dificultad_btn:hover {
    background: #670b0b;
    transform: translateY(-2px);
}

.dificultad_btn.seleccion{
    background: #670b0b;
    box-shadow: 0 4px 20px rgb(255, 254, 254, 0.4);
}

.nivel_info{
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 20px;
    margin: 15px 0;
    font-size: 20px;
}

.game_nivel{
    font-size: 30px;
    margin: 20px 0;
    min-height: 30px;
}

.btn_game{
    background-image: url(../img/with.jpg);
    background-size: cover;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 18px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn_game:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.area_tarjetas{
    margin: 30px 0;
}

.cartas_zona{
    display: grid;
    gap: 15px;
    margin: 20px auto;
    max-width: 600px;
}

.cartas_zona.facil{
    grid-template-columns: repeat(2, 1fr);
}

.cartas_zona.medio{
    grid-template-columns: repeat(3, 1fr);
}

.cartas_zona.dificil{
    grid-template-columns: repeat(4, 1fr);
}

.carta{
    width: 12vw;
    height: 35vh;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    background: #333;
}

.btn_game:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: none;
}

.cartaOculta {
    font-size: 48px;
    color: #999;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carta img {
    width: 12vw;
    height: 35vh;
    
}